---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: perceptilabs-core
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: perceptilabs-core
    app.kubernetes.io/version: v1.0.0-v1alpha1
    app: perceptilabs
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: perceptilabs-core
      app.kubernetes.io/version: v1.0.0-v1alpha1
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
      labels:
        app.kubernetes.io/name: perceptilabs-core
        app.kubernetes.io/version: v1.0.0-v1alpha1
    spec:
      containers:
      - name: core
        image: "{{ core_image }}"
        imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
  name: perceptilabs-core
  namespace: {{ namespace }}
spec:
  selector:
    app.kubernetes.io/name: perceptilabs-core
    app.kubernetes.io/version: v1.0.0-v1alpha1
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000