---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: perceptilabs-frontend
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: perceptilabs-frontend
    app.kubernetes.io/version: v1.0.0-v1alpha1
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: perceptilabs-frontend
      app.kubernetes.io/version: v1.0.0-v1alpha1
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
      labels:
        app.kubernetes.io/name: perceptilabs-frontend
        app.kubernetes.io/version: v1.0.0-v1alpha1
    spec:
      containers:
      - name: frontend
        image: "{{ frontend_image }}"
        imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
  name: perceptilabs-frontend
spec:
  selector:
    app.kubernetes.io/name: perceptilabs-frontend
    app.kubernetes.io/version: v1.0.0-v1alpha1
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: perceptilabs-frontend
  namespace: {{ namespace }}
spec:
  to:
    kind: Service
    name: perceptilabs-frontend